.callout {
  font-size: 13px;
  margin-bottom: 20px;
}
.callout.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s, width 0s;
  transition: all 0.5s, width 0s;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.callout.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.callout > .close {
  margin: 15px 15px 0 0;
}
.callout.callout-danger > .header {
  background: #f6b5b2;
}
.callout.callout-danger > .header i {
  color: #9f5551;
}
.callout.callout-danger > .content {
  background: white;
  border: 2px solid #f8d6d5;
}
.callout.callout-info > .header {
  background: #b9dbef;
}
.callout.callout-info > .header i {
  color: #597f97;
}
.callout.callout-info > .content {
  background: white;
  border: 2px solid #d8eaf4;
}
.callout.callout-success > .header {
  background: #d3e9bf;
}
.callout.callout-success > .header i {
  color: #6d915e;
}
.callout.callout-success > .content {
  background: white;
  border: 2px solid #e6f1db;
}
.callout.callout-warning > .header {
  background: #f6e7b2;
}
.callout.callout-warning > .header i {
  color: #9f8e51;
}
.callout.callout-warning > .content {
  background: white;
  border: 2px solid #f8f0d5;
}
.callout > .header + .content {
  border-top: none;
}
.callout > .header {
  padding: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #2f2d26;
}
.callout > .header h3 {
  letter-spacing: 0;
  margin: 0 0 7px 0;
  font-size: 13px;
  font-weight: bold;
}
.callout > .header h3,
.callout > .header p,
.callout > .header ul,
.callout > .header ol {
  margin-left: 35px;
}
.callout > .header ul,
.callout > .header ol {
  padding-left: 20px;
}
.callout > .header *:last-child {
  margin-bottom: 0;
}
.callout > .header:last-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.callout > .header i {
  font-size: 26px;
  float: left;
}
.callout > .content {
  color: #2f2d26;
  padding: 16px 20px 15px;
}
.callout > .content h1,
.callout > .content h2,
.callout > .content h3,
.callout > .content h4,
.callout > .content h5,
.callout > .content h6 {
  color: #2f2d26;
  text-transform: none;
  margin: 20px 0 5px 0;
  line-height: 150%;
}
.callout > .content h1 {
  font-size: 30px;
}
.callout > .content h2 {
  font-size: 26px;
}
.callout > .content h3 {
  font-size: 24px;
}
.callout > .content h4 {
  font-size: 20px;
}
.callout > .content h5 {
  font-size: 18px;
}
.callout > .content h6 {
  font-size: 16px;
}
.callout > .content *:last-child {
  margin-bottom: 0;
}
.callout > .content ul,
.callout > .content ol {
  padding-left: 20px;
}
.callout > .content ul li,
.callout > .content ol li {
  margin-bottom: 5px;
}
.callout > .content .action-panel {
  padding: 10px 0 0 0;
}
.callout.no-icon > .header h3,
.callout.no-icon > .header p,
.callout.no-icon > .header ul,
.callout.no-icon > .header ol {
  margin-left: 0;
}
.callout.no-subheader > .header i {
  margin-top: -5px;
}
.form-group > .callout {
  margin-bottom: 0;
}
